.date {
    text-align: center;
}
.date h2 {
    margin: 0;
    text-align: center;
    color: #b64963;
}
.date h5 {
    margin: 0;
    text-align: center;
    color: #b64963;
}
.title {
    border-left: 1px solid #81675b;
}
.title h3 {
    margin-top: 0;
}
.title h5 {
    margin: 0;
}
