@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.box-slider {
    padding-right: 0 !important;
    padding-left: 0;
}
.box-slider {

    margin: 0;
}
.slick-slide {
    position: relative;
    margin-left: 15px;
    padding:2px;
}

.imageThumbNail {
    position: absolute;
}
.slick-slide >h5{
    text-align: left;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    background: #FFF;
    line-height: 20px;
    margin: 0;


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+51 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.hidden-details {
    display: none;
}
.shown-details {
    display: block;
}
.shown-details >p{
    min-height: 150px;
}
.slick-navigation {
    background: #FFF;
    z-index: 1;
    color: #5b9bd1;
    height: 138px;
    opacity: .4;
    padding-top: 58px;
}
.slick-navigation:before {
    color: #5b9bd1;

}
.slick-next {
    right: 0;
}
.slick-prev {
    left: 0;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: #FFF;
    opacity: 1;

}
.content-container {
    height: 110px;
}
.slick-prev:before, .slick-next:before {
    color: #000;
}
.overlay {
    padding: 10px;
    height: 47px;
}
.overlay>h5 {
    color: #FFFFFF;
    margin-top: 0;
}
.card-title span:first-child {
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    line-height: 20px !important;
    font-weight: bold;
}