.side-card {
    margin-bottom: 10px;

}
.side-card>div:before, .side-card>div:after {
    clear: both;
    display: table;
    content: " ";
}
.details-data > p{
    margin: 0;
}
.details-data > h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.card-header-details-summary {
    padding-bottom: 0px !important;
}
.card-header-details-summary>div>span:first-child {
    font-size: 18px;
    font-weight: bold;
}
.view-similar {
    margin-top: 15px;
}