#root>.App>.navbar-default {
    margin-bottom: 0px;
}
.profile {
    margin: 0px;
}
#root>.App .jumbotron {
    border-radius: 0;
    position: relative;
    overflow: hidden;

}
.jumbotron .img {
    position: absolute;
    top:0;
    width: 100%;
    right: 0;
    z-index: 0;
}
.jumbotron h1, .jumbotron p {
    position: relative;
    z-index: 1;
}
.gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+70 */
    background: -moz-radial-gradient(at top right, ellipse cover, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(at top right, ellipse cover, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(
            farthest-corner at 57% 40%,
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,.5) 12%,
            rgba(255,255,255,.7) 43%,
            rgba(255,255,255,1) 50%,
            rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

}
