<div id='create-post-container' className="">
    <div className="row clearfix">
        <div className="col-sm-9">
            <TextField
                    hintText="An Awsome text goes here."
                    floatingLabelText="Title"
            /*errorText="Title is required"*/
            fullWidth={true}
            floatingLabelFixed={true}

            />
        </div>
        <div className="col-sm-3">
            <SelectField
                    floatingLabelFixed={true}
                    floatingLabelText="Pick your cause"
                    value={this.state.type}
                    onChange={this.handleChange}
                    fullWidth={true}
            >
                <MenuItem value={0} primaryText="Compassion" />
                <MenuItem value={1} primaryText="Volunteers" />
                <MenuItem value={2} primaryText="ignite" />
            </SelectField>
        </div>
    </div>
    <div className="row clearfix">
        <div className="col-sm-6">
            <div className="set-form">
                <div className="label-form">Date</div>
                <Geosuggest />
            </div>
            <DatePicker
                    hintText="Date"
                    floatingLabelText="Event Date/Target Date"
                    mode="landscape"
                    floatingLabelFixed={true}
                    fullWidth={true}
            />
            <TextField
                    hintText="Price/Crowd/Signature"
                    floatingLabelText="Target"
            /*errorText="Title is required"*/
            fullWidth={true}
            floatingLabelFixed={true}

            />
        </div>
        <div className="col-sm-6">
            <Dropzone
                    className="col-sm-12 dropzone-container"
            >
                { <div className="overlayStyle" >Drop files...</div> }
            </Dropzone>
        </div>
    </div>
    <div className="set-form">
        <div className="label-form">Content</div>
        <Editor
                editorClassName="editor-class-name"
        />
    </div>


    <div className="row clearfix">
        <div className="col-sm-6">

        </div>
        <div className="col-sm-6 text-right">
            <FlatButton label="Cancel" />
            <RaisedButton label="Submit" primary={true} style={{
                          margin: 12,
                          }} />
        </div>
    </div>

</div>
