/*
#root, .App, .content {
    height: 100%;
}
*/

.App-logo {
    cursor: pointer;
    height: 94px;
    padding: 10px 0;
    margin: 0 auto;
    align-self: center;
    position: absolute;
    left: 0;
    right: 0;
}
.profile-name {
    cursor: pointer;
}
.App .navbar {
    border-radius: 0;
    boder:0;
}

.App .navbar-brand {
  font-weight: bold;
}
.fixed-header {
    position: fixed;
    width: 100%;
    top:0;
    z-index: 99;
}
.profile-sidebar {
    padding: 20px 10px 10px 10px;
    margin-bottom: 30px;
}
html, body {
    background-color: #e4e6eb;
     margin:0;
     padding:0;
     height:90%;
}

.mapContainer {
    height:100%;
    margin:0;
    padding:0;
}

@media (max-width: 768px) {
    .mapContainer {
        height:45%;
        margin:0;
        padding:0;
    }
}

